#textEditor{
    width: 600px;
    margin: 100px auto;
}
.title h3{
    text-align: center
}
div#toolBar1,div#toolBar2 {
    margin-bottom: 6px;
}
.intLink { 
    cursor: pointer;
 }
img.intLink { 
    border: 0; 
}
#toolBar1 select { 
    font-size:10px; 
}
#textBox {
  width: 540px;
  height: 200px;
  border: 1px #000000 solid;
  padding: 12px;
  overflow: scroll;
}
#textBox #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}
#editMode label { 
    cursor: pointer; 
}
